.night{
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
}

.night .text{
    opacity: 0.1;
}