:root{
    --main-color: #ffadda;
    --demo-color: #e6e6fa;
    --sec-color: #ffc4e4;
    --dark-color: #9b4373;
}

html{
  scroll-behavior: smooth;
}

@font-face {
    font-family: Reenie Beanie;
    src: url(assets/font/0b30a44b5eb1a594-s.p.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
}


/* VERIF BOX */
.verification-section{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    display: none;
    justify-content: center;
    align-items: center;
}
.verification-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.verification-box h1{
    padding: 0 0 30px 0;
    text-align: center;
    color: rgb(94, 51, 60);
    width: 350px;
    border-bottom: 1px solid rgb(102, 65, 86);
}

.txt-field{
    position: relative;
    margin: 20px 0;
    border-bottom: 1px solid rgb(102, 65, 86);

}
.txt-field{
    width: 300px;
}
.txt-field input{
    width: 100%;
    font-size: 16px;
    height: 40px;
    padding: 5px;
    border: none;
    background: none;
    outline: none;

}
.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    pointer-events: none;
    color: rgb(84, 58, 63);
    transform: translateY(-50%);
    font-size: 16px;
    transition: .5s;
}

.txt-field input:focus ~ label{
    top: -5px;
    color: white;
}
.verification-box button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: var(--main-color);
    border-radius: 25px;
    font-weight: 700;
    color: white;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.verification-box img{
    width: 80px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
}
/* END */

/* home section */
.home-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url(assets/img/bg-section.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
}
header{
    width: 100vw;
    text-align: center;
    background-color: var(--main-color);
    font-size: 0.8rem;
    padding: 10px;
    font-family: 'Gloria Hallelujah', 'Comic Sans MS', 'Comic Sans', sans-serif;
}
nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
nav img{
    width: 60px;
    height: 40px;
}
nav ul{
    display: flex;
    gap: 15px;

}
nav ul li, a{
    color: rgb(94, 51, 60);
    list-style-type: none;
    text-decoration: none;
    font-family: 'Comic sans MS';
    font-weight: 600;

}
.home-section .container{
    height: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section .container .info-card{
    text-align: center;
    width: 80%;
    font-family: 'Comic Sans MS', 'Poppins' ,'Arial', sans-serif;
    background-color: white;
    color: rgb(94, 51, 60);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.home-section .container .info-card img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid rgb(94, 51, 60);
    border-radius: 40px;
    transform: translateY(-10px);
}
.gallery-section{
    width: 100vw;
    justify-content: center;
    display: flex;
    background-image: url(assets/img/bg-gallery.jpeg);

}
.gallery-section .container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

}
.gallery-section .container .flipbook{
    display: grid;
    place-items: center;
    transition: 1s;
}
.gallery-section .container .flipbook img{
    box-shadow: 0px 0px 20px rgba(255, 173, 218, 0.5);
    width: 50%;
    aspect-ratio: 3/4;
    object-fit: cover;
    transform-origin: left;
    border-radius: 0 1rem 1rem 0;
    transition: 1s;
}
.gallery-section .container .flipbook img:hover{
    transform: rotateY(180deg);
}
.flipbook:has(img:hover){
    translate: 75px 0;
}
.gallery-section .container .flipbook div{
    position: absolute;
    z-index: -1;
    border-left: 3px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 0 1rem 1rem 0;
    width: 50%;
    aspect-ratio: 3/4;
    font-size: 12px;
    line-height: 14px;
    background-image: url(assets/img/paper-texture.png);
    background-size: cover;
    color: var(--dark-color);
}
.music-box{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    width: 90vw;
    z-index: 10002;
    font-size: 14px;
    font-family: 'Gloria Hallelujah';
    font-weight: 800;
    color: var(--dark-color);
}
.music-box .title{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: center;
}
.music-box .title img{
    width: 90px;
}

.music-box .gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery img{
    width: 150px;
    aspect-ratio: 6/4;
    object-position: 50% 10%;
    object-fit: cover;
    filter: grayscale(1);
    border-radius: 8px;
    transition: transform 0.3s, filter 0.3s;
}
.gallery img:hover{
    transform: scale(1.10);
    filter: grayscale(0);
}


/* MUSIC LIGHTBOX */
.lightbox{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(245, 40, 145, 1), rgba(255, 255, 255, 0.5));
    justify-content: center;
    display: none;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    color: white;
    gap: 20px;
    font-size: 2rem;
    left: 0;
}
.lightbox img{
    width: 300px;
    aspect-ratio: 5/5;
    border-radius: 10px;
    object-fit: cover;
}
.lightbox .judul {
    width: 75%;
    line-height: 35px;
}
#progress{
    -webkit-appearance: none;
    width: 100% ;
    height: 4px;
    background-color: rgba(226, 226, 226, 0.611);
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.controls{
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}
.controls .play{
    color: black;
    background-color: white;
    border-radius: 100px;
    width: 40px;
    padding: 40px;
    height: 40px;
    display: flex;
    align-items: center ;
    justify-content: center;
}

/* Readme */
.readme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;

}

.readme img{
    width: 90px;
}

.readme .readmeItem{
    width: 100%;
    font-size: 0.6rem;
    background-color: var(--main-color);
    padding: 3px;
    border-radius: 10px;
    border: 2px solid black;
}

.readmeMsg{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    justify-content: center;
    align-items: center;
}
.readmeMsg .paper-bg{
    background-image: url(assets/img/paper-texture.png);
    height: 50%;
    width: 80%;
    position: fixed;
    background-size: cover;
    color: var(--dark-color);
    padding: 10px;
    text-align: start;
    border-radius: 5px;
}

.readmeMsg .paper-bg p{
    font-family: Reenie Beanie, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

}

/* Confession */
.confession-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
    background-image: url(assets/img/d0cd80eb-c785-433e-8e96-fd048f79cc7f.jpeg);
    background-size: cover;
}

.confession-section .container{
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.confession-section .container .hero-card img{
    aspect-ratio: 5/7;    
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.confession-section .container .hero-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spotifyCard{
    background-image: linear-gradient(to top, rgba(245, 40, 145, 1), rgba(180, 180, 180, 0.5));
    display: flex;
    align-items: end;
    border-radius: 10px;
    z-index: 2;
    width: 100%;
    height: 80px;
}


.spotifyCard img{
    width: 90px;
    border-radius: 5px;
    padding: 10px;
    object-fit: cover;
}

.spotifyCard .controls{
    display: flex;
    font-family: 'Gloria Hallelujah';
    flex-direction: column;
    justify-content: center;
    font-size: 9px;
    width: 90px;
    position: relative;
    transform: translateX(-10px) translateY(-6px);
}

.spotifyCard .controls .actionBtn{
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.spotifyCard .anotherBtn{
    transform: translateX(-10px) translateY(-6px);
    display: flex;
    align-items: end;
    justify-content: center; 
    font-size: 12px;
    gap: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.spotifyCard .spotifyIcon{
    height: 70px;
    transform: translateX(10px);
}

.spotifyCard .spotifyIcon i{
    color: white;
}

.confession-section .lyricCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    gap: 10px;
}

.confession-section .lyricCard .card{
    background-image: url(assets/img/paper-texture.png);
    background-size: cover;
    color: var(--dark-color);
    font-family: 'Reenie Beanie';
    font-size: 1rem;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    height: 80px;
}

.lyricsHeader{
    background-image: url(assets/img/paper-texture.png);
    background-size: cover;
    color: var(--dark-color);
    font-family: 'Gloria Hallelujah', 'Arial', sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    height: 30px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.lyricsHeader img{
    width: 20px;
}

.povSection{
    background-image: url(assets/img/589de158-8f51-4b92-9be9-82fc7c0c8584.jpeg);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.povSection .container{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.aboutYou-card{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--main-color);
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.aboutYou-card img{
    width: 95%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.povSection .container .header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.povSection .container .header .imgWrapper{
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
    border: 1px solid black;
}
.povSection .container .header img{
    width: 90px;
    border-radius: 50px;
    height: 90px;
}
.povSection .container .header .judul{
    color: var(--dark-color);
    font-size: 8px;
    padding: 5px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.aboutYou-card .favItem{
    display: flex;
    color: black;
    width: 90%;
    gap: 10px;
    justify-content: space-around;
}

.aboutYou-card .favItem .words{
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    font-size: 10px;
    border: 1px solid black;
    text-align: center;
}

.aboutYou-card .favItem .words p{
    font-size: 9px;
}

.aboutYou-card .paragraph{
    color: black;
    width: 90%;
    text-align: center;
    font-size: 10px;
    font-family: 'Comic Sans MS';
    line-height: 20px;
}

.aboutYou-card .footer{
    color: var(--dark-color);
    font-family: 'Comic Sans MS','Gloria Hallelujah', 'Poppins', sans-serif;
    font-size: 10px;
    text-align: center;

}

.aboutYou-card .elementAbout{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.aboutYou-card .elementJudul{
    color: var(--dark-color);
    font-size: 12px;
    align-items: center;
    display: flex;
    font-family: 'Comic Sans MS', 'Reenie Beanie';
}
.aboutYou-card .elementJudul img{
    width: 60px;
    height: 60px;
}
.aboutYou-card .elementAbout img{
    width: 50px;
    height: 50px;
}

.myWorld{
    background-image: url(assets/img/6cc9eaba-3044-4a12-a292-e7bd3fa8e636.jpeg);
    height: 100vh;
    background-size: cover;
    width: 100vw;
}


.myWorld {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: black;
}

.myWorld .container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    flex-direction: column;
    border: 1px solid var(--main-color);
}

.myWorld .container h1 {
    color: #2c3e50;
}


.answer-btn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-btn:hover {
    background-color: #2980b9;
}

.myWorld .container #question-container{
    width: 100%;
}

.myWorld .container img{
    width: 100px;
}

.countdown{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: white;
    background-image: radial-gradient(ellipse at top, transparent 0%, rgba(0, 0, 0, 0.248)), radial-gradient(ellipse at bottom, black, rgba(145, 233, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(189deg, black 0px, black 19px, transparent 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #00fffa, #f0f0f0);
    background-size: cover;
    background-position-x: -20px;
}
.countdown .container-waktu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 90%;
    text-align: center;
    justify-content: space-around;
}

.countdown .container-waktu .container-time{
    background-color: rgba(236, 236, 236, 0.3);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.countdown .judul{
    font-size: 10px;
    color: white;
}

.countdown .readmeItem2{
    font-size: 0.6rem;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    margin-top: 20px;
}


.readmeMsg2{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
    justify-content: center;
    align-items: center;
}
.readmeMsg2 .paper-bg{
    background-image: url(assets/img/paper-texture.png);
    height: 50%;
    width: 80%;
    position: fixed;
    background-size: cover;
    font-family: 'Reenie Beanie';
    color: var(--dark-color);
    padding: 10px;
    text-align: start;
    border-radius: 5px;
}


.countdown .button {
    --h-button: 48px;
    --w-button: 102px;
    --round: 0.75rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        #00fffb 0%,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #009b98, #00fffb);
    border-radius: var(--round);
    border: none;
    outline: none;
    padding: 12px 18px;
  }
  .countdown .button::before,
  .countdown .button::after {
    content: "";
    position: absolute;
    inset: var(--space);
    transition: all 0.5s ease-in-out;
    border-radius: calc(var(--round) - var(--space));
    z-index: 0;
  }
  .button::before {
    --space: 1px;
    background: linear-gradient(
      177.95deg,
      rgba(255, 255, 255, 0.19) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .button::after {
    --space: 2px;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        #007876fe,
        rgba(223, 113, 255, 0) 100%
      ),
      linear-gradient(0deg, #00fffb, #00605f);
  }
  .button:active {
    transform: scale(0.95);
  }
  
  .fold {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    background: radial-gradient(
      100% 75% at 55%,
      rgba(62, 62, 62, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    );
    box-shadow: 0 0 3px black;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: var(--round);
  }
  .fold::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 150%;
    transform: rotate(45deg) translateX(0%) translateY(-18px);
    background-color: #e8e8e8;
    pointer-events: none;
  }
  .button:hover .fold {
    margin-top: -1rem;
    margin-right: -1rem;
  }
  
  .points_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }
  
  .points_wrapper .point {
    bottom: -10px;
    position: absolute;
    animation: floating-points infinite ease-in-out;
    pointer-events: none;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 9999px;
  }
  @keyframes floating-points {
    0% {
      transform: translateY(0);
    }
    85% {
      opacity: 0;
    }
    100% {
      transform: translateY(-55px);
      opacity: 0;
    }
  }
  .points_wrapper .point:nth-child(1) {
    left: 10%;
    opacity: 1;
    animation-duration: 2.35s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(2) {
    left: 30%;
    opacity: 0.7;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
  }
  .points_wrapper .point:nth-child(3) {
    left: 25%;
    opacity: 0.8;
    animation-duration: 2.2s;
    animation-delay: 0.1s;
  }
  .points_wrapper .point:nth-child(4) {
    left: 44%;
    opacity: 0.6;
    animation-duration: 2.05s;
  }
  .points_wrapper .point:nth-child(5) {
    left: 50%;
    opacity: 1;
    animation-duration: 1.9s;
  }
  .points_wrapper .point:nth-child(6) {
    left: 75%;
    opacity: 0.5;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
  }
  .points_wrapper .point:nth-child(7) {
    left: 88%;
    opacity: 0.9;
    animation-duration: 2.2s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(8) {
    left: 58%;
    opacity: 0.8;
    animation-duration: 2.25s;
    animation-delay: 0.2s;
  }
  .points_wrapper .point:nth-child(9) {
    left: 98%;
    opacity: 0.6;
    animation-duration: 2.6s;
    animation-delay: 0.1s;
  }
  .points_wrapper .point:nth-child(10) {
    left: 65%;
    opacity: 1;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
  }
  
  .inner {
    z-index: 2;
    gap: 6px;
    position: relative;
    width: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.2s ease-in-out;
  }
  
  .inner svg.icon {
    width: 18px;
    height: 18px;
    transition: fill 0.1s linear;
  }
  
  .button:focus svg.icon {
    fill: white;
  }
  .button:hover svg.icon {
    fill: transparent;
    animation:
      dasharray 1s linear forwards,
      filled 0.1s linear forwards 0.95s;
  }
  @keyframes dasharray {
    from {
      stroke-dasharray: 0 0 0 0;
    }
    to {
      stroke-dasharray: 68 68 0 0;
    }
  }
  @keyframes filled {
    to {
      fill: white;
    }
  }

  /* From Uiverse.io by Lucaasbre */ 
.confirm-div {
    background-color: #ccc;
  }
  
  .green-btn {
    background-color: #47a04b;
  }
  
  .green-btn:hover {
    background-color: #368339;
  }
  
  .green-btn:active {
    background-color: #2d6830;
  }
  
  .green-btn:disabled {
    background-color: #c8eac9;
    color: #1b7a43;
  }
  
  .red-btn {
    background-color: #f93a3a;
  }
  
  .red-btn:hover {
    background-color: #e71f1f;
  }
  
  .red-btn:active {
    background-color: #c21313;
  }
  
  .red-btn:disabled {
    background-color: #ffc7c7;
    color: #c21313;
  }
  
  .confirm-div {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 4px 4px 15px #3e3e3e;
    font-family: "Segoe UI", Tahoma, sans-serif;
    cursor: default;
  }
  
  .confirm-div button {
    cursor: pointer;
    width: 100%;
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
    border: none;
    height: 30px;
    width: 100%;
  }
  
  .confirm-div p {
    display: flex;
    flex-direction: column;
  }
  
  .confirm-div p strong {
    margin-bottom: 15px;
  }
  
  .warning-general {
    position: fixed; /* switch to fixed */
    display: none;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }
  
  .modals-container {
    display: flex;
    flex-direction: row;
    height: 32px;
    margin-top: 20px;
    gap: 7px;
    width: 100%;
  }
  
  .playlist{
    background-image: url(assets/img/b190280d-9ddf-453c-bc4d-5181b88834dd.jpeg);
    background-size: cover;
    width: 100vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .playlist .playlist-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }

  .playlist .playlist-container .playlist-item{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .playlist .container{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 5px;
    width: 90%;
    border: 2px solid var(--main-color);
    height: 70%;
  }

  .playlist .title{
    color: var(--dark-color);
  }